<!DOCTYPE html>
<html>
<head>
	<title>ChatGPT</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1>LemonGPT</h1>
		</div>
		<div class="content">
			<div class="chatbox">
				<div class="chatlogs">
					<!-- 用于展示用户的提问和机器人的回答 -->
				</div>
				<div class="chat-form">
					<input type="text" placeholder="请输入您的问题" class="question-input">
					<button type="submit" class="submit-btn">发送</button>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="static/main.js"></script>
</body>
</html>
